.questions{
    list-style: none;
    background-color: #702670;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem auto;
}

.title{
    display: flex;
    justify-content: space-between;
}

.title button{
    border-radius: 10rem;
    padding: 1rem;
    outline: none;
    border: 1px solid #702670;
    cursor: pointer;
}